.login_container_container {
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}
.login_logo {
  font-family: 'logo';
  color: white;
  width: 60%;
}
.login_big_logo {
  font-family: 'logo';
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 900;
  letter-spacing: -10px;
}
.login_small_logo {
  font-family: 'DMSans';
  font-weight: bold;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.login_container {
  display: flex;
  width: 60%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 2%;
  flex-direction: column;
}
.login_name {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}
.signup_name {
  color: black;
  background-color: #cdcdcd;
  font-size: 15px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}

.signup_name2 {
  color: black;
  background-color: #cdcdcd;
  font-size: 2.3vmin;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}
.login_box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login_name_choice {
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}
.login_box {
  display: flex;
  width: 50%;
  justify-content: center;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.login_input {
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 7px 5px -1px #cdcdcd;
  box-shadow: 1px 7px 5px -1px #cdcdcd;
  border: 2px solid #cdcdcd;
  margin: 6%;
}

.input {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 3%;
}
.input::placeholder {
  color: #7c7b79;
}

.login_btn {
  background-color: #ff9900;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-weight: 700;
  margin-bottom: 5%;
  padding: 2%;
  cursor: pointer;
  font-family: 'DMSans';
}
.login_btn_btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.login_id {
  display: flex;
  padding: 1%;
  border-bottom: 1px solid #cdcdcd;
  align-items: center;
}
.login_pwd {
  display: flex;
  padding: 1%;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
}
.loginpage_icon {
  width: 27px;
  height: 27px;
  padding-left: 1.5%;
}
/* 회원가입 page css */
.login_name_2 {
  color: black;
  background-color: #cdcdcd;
  font-size: 15px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}

.signup_name_2 {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 700;
}

.signup2_input {
  display: flex;
  padding: 2vmin 10vmin;
  font-size: 15px;
  font-weight: 600;
}

.input-file-button2 {
  box-sizing: border-box;
  display: flex;
  line-height: 16px;
  position: absolute;
  right: 10vmin;
  width: 15vmin;
  opacity: 0.5;
}

.label_style {
  font-size: 2vmin;
}

.one_introduce {
  margin-top: 1vmin;
  background: #e9e9e9;
  border-radius: 10px;
  border: none;
  height: 5vmin;
  font-family: 'DMSans';
}

.profile_image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10vmin;
  height: 10vmin;
}

.preview {
  display: flex;
  width: 10vmin;
  height: 10vmin;
  background: #e9e9e9;
  border-radius: 50%;
  text-align: center;
  font-size: 1vmin;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.profile_image {
  padding: 0vmin 10vmin;
}

.signup2_btn {
  background-color: #ff9900;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-weight: 700;
  margin-bottom: 5%;
  padding: 2%;
  cursor: pointer;
  font-family: 'DMSans';
}
