.writ_con {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.writepage_container_container {
  padding: 1vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  border-radius: 10px;
}
.write_content {
  display: flex;
  width: 80%;
  justify-content: center;
}
.write_logo {
  display: flex;
  font-size: 4vmin;
  font-weight: 700;
  width: 80%;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  padding-bottom: 1.5%;
}
.write_title {
  display: flex;
  justify-content: space-between;
}
.wri_title {
  font-family: DMSans;
  display: flex;
  align-items: center;
  width: 75%;
  background-color: #e9e9e9;
  outline: none;
  border: none;
  font-size: 1.5vmin;
  font-weight: 400;
  padding: 1.5%;
  border-radius: 10px;
  margin-bottom: 1.5%;
}
.wri_title_2 {
  font-family: DMSans;
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  outline: none;
  border: none;
  font-size: 1.5vmin;
  font-weight: 400;
  padding: 1.5%;
  border-radius: 10px;
  margin-bottom: 1.5%;
  width: 100%;
}
.post_category {
  font-size: 1.5vmin;
  font-family: DMSans;
}
.wri_title::placeholder {
  color: #7c7b79;
}
.wri_deadline {
  background-color: #e9e9e9;
  outline: none;
  border: none;
  font-size: 1.5vmin;
  font-weight: 400;
  padding: 1.5%;
  border-radius: 10px;
  margin-right: 4%;
  margin-left: 2%;
  width: 100%;
  cursor: pointer;
  font-family: 'DMSans';
}

.wri_deadline::placeholder {
  color: #7c7b79;
}

.write_content {
  width: 60%;
  flex-direction: column;
}
.wri_detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.write_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  font-family: 'DMSans';
  margin-bottom: 1vmin;
}
.post_icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5%;
  margin-bottom: 1vmin;
}
.write_box {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.write_box_title {
  font-size: 2.4vmin;
  font-weight: 600;
}
.enroll_btn {
  background-color: #ff9900;
  color: black;
  font-size: 2vmin;
  border: none;
  border-radius: 6px;
  width: 30%;
  font-weight: 700;
  font-family: 'DMSans';
  margin-bottom: 5%;
  padding: 2%;
}
.write_enroll {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.wri_box_box {
  padding: 2vmin;
  color: #949494;
  font-family: 'DMSans';
  display: flex;
  height: 15vmin;
  background-color: #e9e9e9;
  outline: none;
  border: none;
  font-size: 1.5vmin;
  font-weight: 400;
  padding-left: 1.5%;
  border-radius: 10px;
  margin-bottom: 1.5%;
}
select::-ms-expand {
  display: none;
}
.select {
  font-family: DMSans;
  font-size: 1.5vmin;
  background-color: #e9e9e9;
  border-radius: 10px;
  outline: 0 none;
  padding: 1.5% 40px 1.5% 10px;
  margin-bottom: 1.5%;
  border: none;
}
.select option {
  background: #e9e9e9;
  color: black;
  padding: 3px 0;
}
.write_intro {
  display: flex;
}
.input-file-button {
  color: #3e3e3e;
  cursor: pointer;
  margin-left: 1.5%;
  display: flex;
  align-items: center;
  margin-bottom: 1vmin;
  font-size: 1.5vmin;
}
